div #menu {
	width: 100%;
}
div a {
	float: left;
	padding: 1em;
	background-color: blue;
	text-decoration: none;
	color: white;
}
#titulo{
	float: left;
	padding: 1em;
	color: gray;
	font-size: 0.8em;
}
#menu-izquierda{
	list-style-type: none;
	background-color: blue;
	position: relative;
	float: left;
	padding: 1em;
	width: 10%;
	color: white;
}

#cabecera img{
	width: 52%;
	padding: 1em;
	height: 5%;
}
form {
	float: left;
	padding: 1em;
	padding-right: 2em;
}
#freatures {
	float: left;
	padding: 1em;
	font-family: arial;
	width: 25%;
	border: solid silver 0.1em;
}
img.freatures{
	padding: 1em;
	padding-left: 0em;
	width: 28%;
}
img.document{
	float: left;
	width: 12%;
	padding-top: 0em;
	padding: 1em;
	padding-left: 0em;
}
#staff {
	float: left;
	padding: 1em;
	font-family: arial;
	width: 25%;
	border: solid silver 0.1em;
	color: blue;
}
#staff p {
	font-size: 0.6em;
	font-family: times;
	color:gray;
}
img.staff{
	float: left;
	width: 28%;
	padding-top: 0em;
	padding: 1em;
	padding-left: 0em;
}
#videos {
	padding: 1em;
	font-family: arial;
	width: 20%;
	border: solid silver 0.1em;
	position: absolute;
	top: 285px;
	left: 550px;
}
img.videos{
	width: 23%;
	padding-top: 0em;
	padding: 1em;
	padding-left: 0em;
		position: absolute;
	top: 340px;
	left: 550px;
	height: 50%;
}
img.buddy{
	width: 12%;
	height: 20%;
	padding-top: 0em;
	padding: 1em;
	padding-left: 0em;
	position: absolute;
	top: 640px;
	left: 10px;
}
#graduate {
	padding: 1em;
	font-family: arial;
	width: 25%;
	border: solid silver 0.1em;
	color: blue;
	top: 770px;
	left: 180px;
	position: absolute;
}
#graduate p {
	font-size: 0.6em;
	font-family: times;
	color:gray;
}
#hrblog {
	padding: 1em;
	font-family: arial;
	width: 20%;
	border: solid silver 0.1em;
	position: absolute;
	top: 700px;
	left: 550px;
}
img.hrblog{
	width: 8%;
	padding-top: 0em;
	padding: 1em;
	padding-left: 0em;
	position: absolute;
	top: 750px;
	left: 550px;
	height: 15%;
}
#hrblogvis {
	padding: 1em;
	font-family: arial;
	width: 12%;
	border: solid silver 0.1em;
	color: blue;
	position: absolute;
	top: 767px;
	left: 670px;
	height: 10%;
	font-size: 0.5em;

}
#hrblogvis p {
	font-size: 0.6em;
	font-family: times;
	color:gray;
}